@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form{
  margin: 0 auto;
  font-size: var(--size-5);
  background-color: var(--);
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-image: var(--gradient-16);
}

form > * {
  margin: var(--size-2);
}

label{
  color: var(--pink-7);
  font-weight: var(--font-weight-7);
  background: var(--gradient-11);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clip{
  color: var(--gray-8);
  background: var(--gradient-11);

}

.result{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.anger{
  background-color: red;
}

.sadness{
  background-color: blue;
  color: white;
}